@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */

/* 가로스크롤바없애기 */
html, body { overflow-x: hidden;}

/* position:fixed 와 포지션앱소런트를 적용하고 얿이 설정을 한하면 기본넓이는 자식요소에 맞춰짐 */
h1 { position: fixed; top: 50px; left: 50px; z-index: 9; }
img { width: 200px; margin: 50px; }
#nav { position: fixed; top: 50%; transform: translateY(-50%); left: 0; z-index: 9; }
#nav .depth1 { width: 200px; }
#nav .depth1 li a { 
    display: block; 
    font-size: 14px; color: #000;
    text-align: right; 
    border-top: 1px solid #111; height: 60px;
    font-family: 'Righteous', cursive;
    padding-top: 5px;
    transition: all 0.5s;
}
#nav .depth1 li:nth-child(1) a:hover { font-size: 24px; color: #d4164c; border-color: #d4164c; }
#nav .depth1 li:nth-child(1).on a { font-size: 24px; color: #d4164c; border-color: #d4164c; }
#nav .depth1 li:nth-child(2) a:hover { font-size: 24px; color: #ffffff; border-color: #ffffff; }
#nav .depth1 li:nth-child(2).on a { font-size: 24px; color: #ffffff; border-color: #ffffff; }
#nav .depth1 li:nth-child(3) a:hover { font-size: 24px; color: #ffec6a; border-color: #ffec6a; }
#nav .depth1 li:nth-child(3).on a { font-size: 24px; color: #ffec6a; border-color: #ffec6a; }
#nav .depth1 li:nth-child(4) a:hover { font-size: 24px; color: #005a89; border-color: #005a89; }
#nav .depth1 li:nth-child(4).on a { font-size: 24px; color: #005a89; border-color: #005a89; }

#sns { position: fixed; top: 40px; right: 50px; z-index: 9; }
#sns a { display: inline-block; font-size: 25px; color: rgba(0,0,0,0.5); margin-left: 15px; transition: all 0.5s; }
#sns a:hover { transform: scale(1.5); color: #000; }
#sns span:nth-child(4) i { display: inline-block; transform: rotate(125deg) }

#wrap .section { width: 20px; height: 20px; } 
/* 응수업안듣고놀앗어 없어 */

/* 속성을 주고 '-(대쉬)가 없는 태그'(메인태그)만 쓰면 기존에 준 속성이 사라진다. */
/* background-position: right center; 오른쪽 센터에 이미지를 맞춤 */
#wrap .section { width: 100vw; height: 100vh; background-position: right center; background-size: cover; position: relative;}
/* #wrap #sect1 { background: url(../img/bg1.jpg); } */
#wrap #sect1 { background-image: url(../img/bg1.jpg); }
#wrap #sect2 { background-image: url(../img/bg2.jpg); }
#wrap #sect3 { background-image: url(../img/bg3.jpg); }
#wrap #sect4 { background-image: url(../img/bg4.jpg); }
#wrap .article { position: absolute; top: 45%; left: 300px; z-index: 10;}
/* letter-spacing : 자간 */
#wrap .article p { font-family: 'Righteous', cursive; font-size: 50px; letter-spacing: 2px; }
#wrap .article span { font-size: 16px; width: 500px; display: block; color: #fff; line-height: 1.2; }
#wrap #sect1 p { color: #d4164c;}
#wrap #sect2 p { color: #ffffff;}
#wrap #sect3 p { color: #ffec6a;}
#wrap #sect4 p { color: #005a89;}

#sect1 .p11 { position: absolute; bottom: 20px; right: 20px; }
#sect1 .p12 { position: absolute; bottom: -40px; right: 130px; }
#sect1 .p13 { position: absolute; bottom: 180px; right: 60px; }

#sect2 .p21 { position: absolute; bottom: -480px; right: -180px; }
#sect2 .p22 { position: absolute; bottom: -40px; right: 130px; }

#sect3 .p31 { position: absolute; bottom: 30px; right: 180px; }
#sect3 .p32 { position: absolute; bottom: -270px; right: 110px; }
#sect3 .p33 { position: absolute; bottom: -130px; right: -70px; }

#sect4 .p41 { position: absolute; bottom: -120px; right: 20px; }
#sect4 .p42 { position: absolute; bottom: -180px; right: 0px; }